snippet mq "Media query" b
@media (max-width: $1){
  $2
}
endsnippet

snippet reset "CSS reset" b
*, *:before, *:after {
	margin: 0;
	padding: 0;
	font-size:16px;
  box-sizing: border-box;
}
endsnippet
